 /* For mobile phones: */

body {
	font-family: 'Raleway', sans-serif;
	color: #58595b;
}

h4{
	line-height: 1.3;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-brand {
    padding: 10px 10px;
}

.navbar-default .navbar-nav>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
        text-decoration: underline;

}

.navbar-nav>.active>a {
    color: #555;
    background-color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: underline;
}

.logo img{
    width: 200px;
    margin: 0px;
}

.jumbotron {
    background-color: white;
    margin: 5px;
    border-bottom: 2px solid #64b0ae;
}

.header {
    max-width: 100%;
    border-left-color: grey;
    border-left-width: 3px;
    border-left-style: solid;
    margin: 0px 13px 0px 10px;
}

.descripcion {
	border-bottom: 2px solid #aaaaaa;
	padding: 5px 15px 30px 15px
}

.hacemos {
	padding-top: 50px;
}


.clientes {
	padding-top: 25px;
	border-top: 3px solid grey;
}

.div-clientes{
	padding-top: 25px;
	border-top: 1px solid grey;
}

.proyectos {
	width: 100%;
	margin: 0px;
	background-color: grey;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.contacto{
	color: #64b0ae;
	padding: 40px 0px;
}

.glyphicon {
    font-size: 20px;
}

.contacto a{
	color: #64b0ae;
	padding: 40px 0px;
}

.logo-footer img{
	width: 65px;
}

.social-icons{
	margin: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.social-icons a{
	margin: 5px;
	opacity: 0.5;
}
    
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #64b0ae;
  padding: 25px;
  color: white;
}

footer a {
	color: white;
}

footer p {
	padding: 20px 0px 30px;
}


footer a svg {
	height: 1.5em;
}

.div-porfolio{
	color: white;
    background-color: #aaaaaa;
    margin: 0px;
    padding: 30px;
    width: 100%;
}



@media only screen and (min-width: 600px) {
    /* For tablets: */
    
    .jumbotron .container {
    margin: auto;
}

.jumbotron {
    margin: 5px 100px;
}

.descripcion {
    padding: 40px 50px 50px;
    margin: 0px 50px;
}

.clientes2 {
	padding-bottom: 30px;
}


.jumbotron {
    margin: 5px 50px;
    padding: 150px 50px;
}

}
@media only screen and (min-width: 770px) {
    /* For desktop: */


h4{
    font-size: 24px;
}
    .descripcion {
    padding: 5px 150px 200px;
    margin: 150px 100px 0px;
}

	.jumbotron {
    margin: 5px 100px;
    padding: 150px 200px;
}

.div-clientes{
	width: auto;
    padding: 100px 100px;
}

.hacemos-texto{
	padding-left: 50px;
	padding-top: 40px;
    padding-right: 15px;
}

h4 {
    font-size: 30px;
}


}